body {
    margin: 0px;
    margin-bottom: 200px;
    padding: 0px;
}

header {
    background-color: #8474A1;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.topnav {
    margin: 0;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Playfair-Display', Georgia, serif;
}

.topnav a:hover {
    background-color: #766890
}

  main {
      position: relative;
      top: 80px;
      text-align: center;
  }

  h1 {
      font-family: 'Playfair-Display', Georgia, serif;
  }

  h2, h3 {
      font-family: Roboto, Arial, sans-serif;
  }

  p {
      font-family: Roboto, Arial, sans-serif;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 600px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  footer {
    background-color: #8474A1;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
  }

